<!-- app_iluminacao/templates/app_iluminacao/base.html -->
{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <title>{% block title %}Título Padrão{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMS0dE1c4z5D1B8PqQ1H6Wk2ZlK9Bf5BfW9E57" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script defer src="{% static 'script/messages_server.js' %}"></script>
    <script defer src="{% static 'script/htmx.js' %}"></script>
    <!-- Carregar arquivos estáticos -->
  <!-- Link para o arquivo CSS estático -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

<header class="flex items-center justify-between bg-neutral-900 fixed top-0 w-full h-10 z-20" x-data="{ navOpen: false }">
    {% include 'materiais/menus/superior.html' %}
</header>

<main class="flex mt-10 mb-6" >
    <div class="z-10 bg-neutral-50 " x-data="{ menuOpen: false }" >


        <!-- Menu Lateral -->
        <div class="h-screen bg-neutral-50 border-r border-neutral-300 fixed 2xl:block 2xl:w-72 mb-10">
            {% include 'materiais/menus/lateral.html' %}
        </div>
    </div>

    <div class="ml-16 lg:ml-14 2xl:ml-[19rem]">
        {% block content %}
            <!-- O conteúdo específico de cada página irá aqui -->
        {% endblock %}
    </div>
</main>

<footer class="lg:h-8 h-14 flex items-center justify-end footer pr-3  bg-neutral-50 border-neutral-300 border-t text-black fixed bottom-0 w-full">
    <p class="text-base shrink hover:font-bold cursor-default">© 2024 github.com/marcosandradetf</p>
    <p class="text-base shrink ml-3 cursor-pointer hover:text-red-600 hover:font-bold cursor-default">Privacidade</p>
    <p class="text-base shrink ml-3 cursor-pointer hover:text-red-600 hover:font-bold cursor-default">Sobre</p>
</footer>


</body>
</html>
