{% extends 'materiais/base.html' %}

{% block title %}Lumos - Cadastrar Materiais{% endblock %}

{% block content %}

    <div>
        {% include 'materiais/menus/path_menu.html' %}
    </div>

    <div>
        {# -------> Messages   #}
        <div class="border border-neutral-300 shadow overflow-auto h-44 mb-4 xl:absolute xl:-right-3  2xl:-right-16 p-5 w-[90vw] xl:h-[45.8rem] 2xl:w-[24rem] xl:mb-0 xl:w-[20rem]">
            <h2 class="text-center border-b border-neutral-300 mb-5">Últimas Atualizaçoes</h2>
{#            {% include 'materiais/messages/messages_server.html' %}#}
            <div id="messages" hx-get="{% url 'materiais_messages' %}" hx-trigger="load, every 5s" hx-swap="innerHTML">

            </div>
        </div>
        {# -------> End_Messages   #}
        {% include 'materiais/gerenciar/client.html' %}
    </div>


{% endblock %}
