{% extends 'materiais/base.html' %}

{% block title %}Lumos - Cadastrar Materiais{% endblock %}

{% block content %}
    <div>
        {% include 'materiais/menus/path_menu.html' %}
    </div>
    <div class="container flex flex-col lg:flex-row">

        <div class="border border-neutral-300 rounded p-5 lg:w-56 mr-5 w-[90vw] mb-5 lg:mb-0">
            {% include 'materiais/menus/cadastro.html' %}
        </div>

        {# -----> Form  #}
        <div>
            <div class="border border-neutral-300 rounded p-5 w-[90vw] 2xl:w-[50vw] lg:w-[70vw] ">
                <h2 class="border-b border-neutral-300">Cadastrar Materiais</h2>

                {% include 'materiais/forms/form_material.html' %}

            </div>

        </div>
        {# -----> End_Form  #}

    </div>

    {# -------> Messages   #}
    <div x-data="{ showMessage: false }"
         x-init="@if messages: showMessage = true; setTimeout(() => showMessage = false, 3000) @endif">
        {% for message in messages %}
            <div x-show="showMessage" class="rounded bg-green-600 p-3 w-28">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {# -------> End_Messages   #}

    {#  ----> Table  #}
    <div class="border border-neutral-300 rounded p-5 w-[90vw] lg:w-[87vw] 2xl:w-[100%] max-w-[1205px] mt-5 lg:max-h-[50vh] overflow-auto mb-5">
        {% include 'materiais/tabelas/tabela_materiais.html' %}
    </div>
    {#    End_Table  #}

{% endblock %}
