<ol class="flex justify-between lg:flex-col lg:justify-start">
    <li class="text-rose-900 font-bold text-xs mb-1">
        <a href="{% url 'materiais_view' %}" class="cursor-default"><span class="text-green-800 font-bold">+</span> Cadastrar Material</a>
    </li>
    <li class="hover:text-rose-900 hover:font-bold text-xs mb-1">
        <a href="{% url 'materiais_view' %}" class="cursor-default"><span class="text-green-800 font-bold">+</span> Cadastrar Tipo de Material</a>
    </li>
    <li class="cursor-default hover:text-rose-900 hover:font-bold text-xs mb-1">
        <a href="{% url 'materiais_view' %}" class="cursor-default"><span class="text-green-800 font-bold">+</span> Cadastrar Grupo de Material</a>
    </li>
    <li class="cursor-default hover:text-rose-900 hover:font-bold text-xs">
        <a href="{% url 'materiais_view' %}" class="cursor-default"><span class="text-green-800 font-bold">+</span> Cadastrar Almoxarifado</a>
    </li>
</ol>