/* Para navegadores baseados em WebKit (Chrome, Safari, Edge baseado em Chromium, Opera) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Para Internet Explorer e Edge (não baseados em Chromium) */
input[type="number"] {
  -ms-appearance: textfield;
}
