/* Para navegadores baseados em WebKit (Chrome, Safari, Edge baseado em Chromium, Opera) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Para Internet Explorer e Edge (não baseados em Chromium) */
input[type="number"] {
  -ms-appearance: textfield;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }
}
