<table class="border-collapse cursor-default font-light select-none" id="tabela-materiais">
    {% csrf_token %}
    <thead>
    <tr>
        <th class="border-b border-slate-600 p-2 bg-indigo-900 text-white text-left">Código</th>
        <th class="border-b border-slate-600  bg-indigo-900 text-white min-w-64 text-left">Nome Material</th>
        <th class="border-b border-slate-600  bg-indigo-900 text-white min-w-32 text-left">Unid. Compra</th>
        <th class="border-b border-slate-600 bg-indigo-900 text-white min-w-36 text-left">Unid. Requisição</th>
        <th class="border-b border-slate-600  bg-indigo-900 text-white min-w-28 text-left">Tipo Material</th>
        <th class="border-b border-slate-600  bg-indigo-900 text-white min-w-32 text-left">Grupo Material</th>
        <th class="border-b border-slate-600  bg-indigo-900 text-white min-w-32 text-left">Qtde. Estoque</th>
        <th class="border-b border-slate-600  bg-indigo-900 text-white min-w-16 text-left">Inativo</th>
        <th class="border-b border-slate-600  bg-indigo-900 text-white min-w-80 text-left">Empresa</th>
        <th class="border-b border-slate-600  bg-indigo-900 text-white min-w-52 text-left">Almoxarifado</th>
        <th class="border-b border-slate-600  bg-indigo-900 text-white text-left" colspan="2">Ação</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in materiais_obj %}
        <tr class="odd:bg-white even:bg-gray-200" {# id="row-{{ obj.id_material }}" #} >
            <td class="border-b-2 border-slate-400 p-2 ">{{ obj.id_material }}</td>
            <td class="border-b-2 border-slate-400 p-2">{{ obj.nome_material }}</td>
            <td class="border-b-2 border-slate-400 p-2">{{ obj.unidade_compra }}</td>
            <td class="border-b-2 border-slate-400 p-2">{{ obj.unidade_requisicao }}</td>
            <td class="border-b-2 border-slate-400 p-2">{{ obj.id_tipo }}</td>
            <td class="border-b-2 border-slate-400 p-2">{{ obj.id_grupo }}</td>
            <td class="border-b-2 border-slate-400 p-2">{{ obj.qtde_estoque }}</td>
            <td class="border-b-2 border-slate-400 p-2">{{ obj.inativo }}</td>
            <td class="border-b-2 border-slate-400 p-2">{{ obj.id_empresa }}</td>
            <td class="border-b-2 border-slate-400 p-2">{{ obj.id_almoxarifado }}</td>
            <td class="border-b-2 border-slate-400 p-2 cursor-pointer">
                <form hx-post="{% url 'delete_material' obj.id_material %}" hx-target="#insert"
                      hx-confirm="Tem certeza de que deseja deletar este material?">
                    {% csrf_token %}
                    <button type="submit" class="cursor-pointer material-icons text-red-600">delete</button>
                </form>
            </td>
            <td class="border-b-2 border-slate-400 p-2 cursor-pointer">
                <button hx-get="{% url 'update_material' obj.id_material %}"
                        hx-target="#update"
                        hx-swap="innerHTML"
                        class="cursor-pointer material-icons">edit</button>
                <div id="update"></div>
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
