<table class="border-collapse cursor-default font-light select-none" id="tabela-materiais">
    {% csrf_token %}
    <thead>
    <tr>
        <th class="border-b border-slate-600 p-2 bg-indigo-900 text-white text-left">Código</th>
        <th class="border-b border-slate-600  bg-indigo-900 text-white min-w-64 text-left">Nome Material</th>
        <th class="border-b border-slate-600  bg-indigo-900 text-white min-w-32 text-left">Unid. Compra</th>
        <th class="border-b border-slate-600 bg-indigo-900 text-white min-w-36 text-left">Unid. Requisição</th>
        <th class="border-b border-slate-600  bg-indigo-900 text-white min-w-28 text-left">Tipo Material</th>
        <th class="border-b border-slate-600  bg-indigo-900 text-white min-w-32 text-left">Grupo Material</th>
        <th class="border-b border-slate-600  bg-indigo-900 text-white min-w-32 text-left">Qtde. Estoque</th>
        <th class="border-b border-slate-600  bg-indigo-900 text-white min-w-16 text-left">Inativo</th>
        <th class="border-b border-slate-600  bg-indigo-900 text-white min-w-80 text-left">Empresa</th>
        <th class="border-b border-slate-600  bg-indigo-900 text-white min-w-52 text-left">Almoxarifado</th>
        <th class="border-b border-slate-600  bg-indigo-900 text-white text-left" colspan="2">Ação</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in materiais_obj %}
        <tr class="odd:bg-white even:bg-gray-200" {# id="row-{{ obj.id_material }}" #} >
            <td class="border-b-2 border-slate-400 p-2 ">{{ obj.id_material }}</td>
            <td class="border-b-2 border-slate-400 p-2">{{ obj.nome_material }}</td>
            <td class="border-b-2 border-slate-400 p-2">{{ obj.unidade_compra }}</td>
            <td class="border-b-2 border-slate-400 p-2">{{ obj.unidade_requisicao }}</td>
            <td class="border-b-2 border-slate-400 p-2">{{ obj.id_tipo }}</td>
            <td class="border-b-2 border-slate-400 p-2">{{ obj.id_grupo }}</td>
            <td class="border-b-2 border-slate-400 p-2">{{ obj.qtde_estoque }}</td>
            <td class="border-b-2 border-slate-400 p-2">{{ obj.inativo }}</td>
            <td class="border-b-2 border-slate-400 p-2">{{ obj.id_empresa }}</td>
            <td class="border-b-2 border-slate-400 p-2">{{ obj.id_almoxarifado }}</td>
            <td class="border-b-2 border-slate-400 p-2 cursor-pointer">
                <form hx-post="{% url 'delete_material' obj.id_material %}" hx-target="#insert"
                      hx-confirm="Tem certeza de que deseja deletar este material?">
                    {% csrf_token %}
                    <button type="submit" class="cursor-pointer">
                        <svg width="20px" height="20px" viewBox="0 0 16.000001 16.000001"
                             xmlns="http://www.w3.org/2000/svg" version="1.1" fill="#000000">
                            <g>
                                <path d="M3 6v8c0 .554.446 1 1 1h8c.554 0 1-.446 1-1V6z" style="fill:#0062ff;"></path>
                                <path d="M5 1v2H2v2h12V3h-3V1zm1 1h4v1H6z" style="fill:#0062ff;"></path>
                            </g>
                        </svg>
                    </button>
                </form>
            </td>
            <td class="border-b-2 border-slate-400 p-2 cursor-pointer" x-data="{ openModal: false}">
                <button type="submit" class="cursor-pointer" @click="openModal = true; $dispatch('load-update')">
                    <svg width="20px" height="20px" fill="#4f4f4f" viewBox="-4 0 32 32" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" stroke="#4f4f4f">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier"><title>edit</title>
                            <path d="M17.438 22.469v-4.031l2.5-2.5v7.344c0 1.469-1.219 2.688-2.656 2.688h-14.625c-1.469 0-2.656-1.219-2.656-2.688v-14.594c0-1.469 1.188-2.688 2.656-2.688h14.844v0.031l-2.5 2.469h-11.5c-0.531 0-1 0.469-1 1.031v12.938c0 0.563 0.469 1 1 1h12.938c0.531 0 1-0.438 1-1zM19.813 7.219l2.656 2.656 1.219-1.219-2.656-2.656zM10.469 16.594l2.625 2.656 8.469-8.469-2.625-2.656zM8.594 21.094l3.625-0.969-2.656-2.656z"></path>
                        </g>
                    </svg>
                </button>
                <div x-show="openModal"
                     @transitionend="if (openModal) { document.getElementById('update').dispatchEvent(new Event('htmx:load')) }">
                    <div id="update"
                         hx-get="{% url 'update_material' obj.id_material %}"
                         hx-trigger="load"
                         hx-swap="innerHTML">
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
